.maps {
  background-color: rgba(59, 131, 190, 0.95);
  overflow:auto;
}

.map_box {
  background-color: rgb(223, 227, 235);
  margin: 1rem;
  padding: .5rem 1rem;
  border-radius: 16px;
}

.map_select {
  margin-bottom: 0;
}