.image_marker {
  background-color: azure;
}

.my_mapchart {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: azure;
}

.map_select {
  margin-bottom: 0;
}

.chart_contiainer {
  height: 100%;
}