.friends {
  height: 100%;
  background-color: rgba(137, 43, 226, 0.65);
  overflow: auto;
}


.title {
  padding: 0 1rem;
}

.main {
  padding: 0 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}