.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile_card {
  padding: 2rem;
  max-width: 600px;
  background-color: rgb(119, 191, 250);
  border-radius: 16px;

  form {
    div {
      margin-bottom: 1rem;
    }
  }
}

.profile_pic_div {
  padding: 1rem;
  text-align: center;
}

.profile_pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: azure;
}

.cancel_edit {
  background-color: rgb(233, 39, 39);
}

.read_only {

  input {
    border: none;
    background-color: transparent;
    display: inline-block;
  }

  label {
    display: inline-block;
  }
}