.signup  {
  height: 100%;
}

.signup_box {
  padding: 2rem;
  max-width: 600px;
  background-color: rgba(119, 191, 250, .95);
  border-radius: 16px;
  font-weight: 300;
}


.controls {
  text-align: center;
}

.message_box {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
}

.success {
  background: rgb(175, 216, 175);
}

.failure {
  background-color: rgb(255, 198, 198);
}