.home {
  height: 100%;
  padding: 1rem;
  background-color: rgba(95, 158, 160, 0.7);
  
  .sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    .section {
      flex-grow: 1;
      margin: 1rem;
      padding: 1rem;
      border-radius: 16px;
      min-width: 325px;
      background-color: rgba(219, 227, 235, 0.95);
    }
  }
}


