.home {
  height: 100%;
  padding: 1rem;
  background-color: cadetblue;
  
  .sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    .section {
      flex-grow: 1;
      margin: 1rem;
      padding: 1rem;
      border-radius: 16px;
      min-width: 325px;
      background-color: rgb(219, 227, 235);
    }
  }
}
