.home {
  padding: 1rem;
  background-color: cadetblue;
}
.title {
  color: white;
}
.windows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  div {
    min-width: 325px;
    min-height: 325px;
    background-color: rgb(219, 227, 235);
    margin: 1rem;
  }
}